@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-rain-drops-on-window-shield.jpg");
  background-attachment: fixed;
  color: white;
  font-family: "poppins", sans-serif;
}
p {
  font-size: 0.9rem;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1.1rem;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(64, 144, 172, 0.603);
}

header .home {
  display: flex;
  align-items: center;
}

header .user {
  display: flex;
  align-items: center;
}

header i {
  color: white;
  font-size: 1.2rem;
  padding: 0.4em;
  background-color: rgb(64, 144, 172);
}

header .fa-plus {
  margin-right: 0.45rem;
}

header .boards {
  margin: 0 1rem;
}

header input {
  height: 2.3rem;
  background-color: #4090ac;
  border: none;
}

header h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.1rem;
  justify-content: space-between;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(128, 128, 128, 0.3);
}

nav .menu {
  background-color: #fff;
  color: #000;
  padding: 0.5rem 0;
  position: absolute;
  right: 1rem;
  top: 2.7rem;
}

nav .delete-task {
  display: flex;
  width: 12rem;
  align-items: center;
}

nav .fa-ellipsis-v {
  cursor: pointer;
  padding: 0.4rem;
}

nav .fa-ellipsis-v:hover {
  background-color: #408faca8;
}
nav .fa-times,
.fa-save {
  margin: 0 1rem 0 0.4rem;
}
