*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-rain-drops-on-window-shield.jpg");
  background-attachment: fixed;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(64, 144, 172, 0.603);
}

header .home {
  display: flex;
  align-items: center;
}

header .user {
  display: flex;
  align-items: center;
}

header i {
  color: white;
  font-size: 1.2rem;
  padding: 0.4em;
  background-color: rgb(64, 144, 172);
}

header .fa-plus {
  margin-right: 0.45rem;
}

header .boards {
  margin: 0 1rem;
}

header input {
  height: 2.3rem;
  background-color: #4090ac;
  border: none;
}
